In [78]:
import pandas as pd
from pathlib import Path

In [89]:
def nfiles(pp):
    return len(list(pp.iterdir()))

# aptos2019-blindness-detection

## files

In [156]:
p = '../input/aptos2019-blindness-detection'
pp = Path(p)

In [157]:
nfiles(pp/'train_images'), nfiles(pp/'test_images')

(3662, 1928)

In [158]:
train=pd.read_csv(pp/'train.csv')
test =pd.read_csv(pp/'test.csv')
sample_submission =pd.read_csv(pp/'sample_submission.csv')

train.shape, test.shape, sample_submission.shape

((3662, 2), (1928, 1), (1928, 2))

In [159]:
train.head()

        id_code  diagnosis
0  000c1434d8d7          2
1  001639a390f0          4
2  0024cdab0c1e          1
3  002c21358ce6          0
4  005b95c28852          0

In [160]:
test.head()

        id_code
0  0005cfc8afb6
1  003f0afdcd15
2  006efc72b638
3  00836aaacf06
4  009245722fa4

In [161]:
sample_submission.head()

        id_code  diagnosis
0  0005cfc8afb6          0
1  003f0afdcd15          0
2  006efc72b638          0
3  00836aaacf06          0
4  009245722fa4          0

https://www.kaggle.com/c/aptos2019-blindness-detection/data
You can plan on the private test set consisting of 20GB of data across 13,000 images (approximately).

In [162]:
f'Private testset is {13000 / len(test): .2f} times the size of public test set!'

'Private testset is  6.74 times the size of public test set!'

## stats

In [163]:
target = 'diagnosis'

In [164]:
train[target].value_counts()/len(train)

0    0.492900
2    0.272802
1    0.101038
4    0.080557
3    0.052703
Name: diagnosis, dtype: float64

In [165]:
train[target].value_counts().sort_index()/len(train)

0    0.492900
1    0.101038
2    0.272802
3    0.052703
4    0.080557
Name: diagnosis, dtype: float64

In [166]:
train[target][train[target]>0].value_counts().sort_index()/len(train)

1    0.101038
2    0.272802
3    0.052703
4    0.080557
Name: diagnosis, dtype: float64

In [167]:
(train[target]>0).value_counts()/len(train)

True     0.5071
False    0.4929
Name: diagnosis, dtype: float64

# diabetic-retinopathy-detection

## files

In [168]:
p = '../input/diabetic-retinopathy-detection/'
pp = Path(p)

In [169]:
nfiles(pp/'train_images'), nfiles(pp/'test_images')

(35126, 53576)

In [170]:
train=pd.read_csv(pp/'trainLabels.csv')
sample_submission =pd.read_csv(pp/'sampleSubmission.csv')

train.shape, sample_submission.shape

((35126, 2), (53576, 2))

In [171]:
train.head()

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
4   15_left      1

In [172]:
sample_submission.head()

     image  level
0   1_left      0
1  1_right      0
2   2_left      0
3  2_right      0
4   3_left      0

## stats

In [173]:
target = 'level'

In [174]:
train[target].value_counts()/len(train)

0    0.734783
2    0.150658
1    0.069550
3    0.024853
4    0.020156
Name: level, dtype: float64

In [175]:
train[target].value_counts().sort_index()/len(train)

0    0.734783
1    0.069550
2    0.150658
3    0.024853
4    0.020156
Name: level, dtype: float64

In [176]:
train[target][train[target]>0].value_counts().sort_index()/len(train)

1    0.069550
2    0.150658
3    0.024853
4    0.020156
Name: level, dtype: float64

In [177]:
(train[target]>0).value_counts()/len(train)

False    0.734783
True     0.265217
Name: level, dtype: float64

# IDRID

## files

In [189]:
p = '../input/IDRID/B. Disease Grading/'
pp = Path(p)

In [194]:
nfiles(pp/'1. Original Images/a. Training Set'), nfiles(pp/'1. Original Images/b. Testing Set')

(413, 103)

In [196]:
train=pd.read_csv(pp/'2. Groundtruths/a. IDRiD_Disease Grading_Training Labels.csv')
test = pd.read_csv(pp/'2. Groundtruths/b. IDRiD_Disease Grading_Testing Labels.csv')

train.shape, test.shape

((413, 12), (103, 3))

In [197]:
train.head()

  Image name  Retinopathy grade  Risk of macular edema   Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10 Unnamed: 11
0  IDRiD_001                  3                       2         NaN         NaN         NaN         NaN         NaN         NaN         NaN          NaN         NaN
1  IDRiD_002                  3                       2         NaN         NaN         NaN         NaN         NaN         NaN         NaN          NaN         NaN
2  IDRiD_003                  2                       2         NaN         NaN         NaN         NaN         NaN         NaN         NaN          NaN         NaN
3  IDRiD_004                  3                       2         NaN         NaN         NaN         NaN         NaN         NaN         NaN          NaN         NaN
4  IDRiD_005                  4                       0         NaN         NaN         NaN         NaN         NaN         NaN         NaN          NaN         NaN

In [198]:
test.head()

  Image name  Retinopathy grade  Risk of macular edema
0  IDRiD_001                  4                       0
1  IDRiD_002                  4                       1
2  IDRiD_003                  4                       0
3  IDRiD_004                  4                       0
4  IDRiD_005                  4                       1

## stats

In [199]:
target = 'Retinopathy grade'

In [200]:
train[target].value_counts()/len(train)

2    0.329298
0    0.324455
3    0.179177
4    0.118644
1    0.048426
Name: Retinopathy grade, dtype: float64

In [201]:
train[target].value_counts().sort_index()/len(train)

0    0.324455
1    0.048426
2    0.329298
3    0.179177
4    0.118644
Name: Retinopathy grade, dtype: float64

In [202]:
train[target][train[target]>0].value_counts().sort_index()/len(train)

1    0.048426
2    0.329298
3    0.179177
4    0.118644
Name: Retinopathy grade, dtype: float64

In [203]:
(train[target]>0).value_counts()/len(train)

True     0.675545
False    0.324455
Name: Retinopathy grade, dtype: float64