# files

In [2]:
import pandas as pd

In [1]:
ls ../input/

sample_submission.csv  test_images.zip  train_images/
test.csv               train.csv        train_images.zip

In [12]:
ls ../input/train_images/*.png | wc -l

3662

In [13]:
ls ../input/test_images/*.png | wc -l

1928

In [7]:
train=pd.read_csv('../input/train.csv')
test =pd.read_csv('../input/test.csv')
sample_submission =pd.read_csv('../input/sample_submission.csv')

In [8]:
train.shape, test.shape, sample_submission.shape

((3662, 2), (1928, 1), (1928, 2))

In [9]:
train.head()

        id_code  diagnosis
0  000c1434d8d7          2
1  001639a390f0          4
2  0024cdab0c1e          1
3  002c21358ce6          0
4  005b95c28852          0

In [10]:
test.head()

        id_code
0  0005cfc8afb6
1  003f0afdcd15
2  006efc72b638
3  00836aaacf06
4  009245722fa4

In [11]:
sample_submission.head()

        id_code  diagnosis
0  0005cfc8afb6          0
1  003f0afdcd15          0
2  006efc72b638          0
3  00836aaacf06          0
4  009245722fa4          0

https://www.kaggle.com/c/aptos2019-blindness-detection/data
You can plan on the private test set consisting of 20GB of data across 13,000 images (approximately).

In [22]:
f'Private testset is {13000 / len(test): .2f} times the size of public test set!'

'Private testset is  6.74 times the size of public test set!'

## stats

In [14]:
train.diagnosis.value_counts()

0    1805
2     999
1     370
4     295
3     193
Name: diagnosis, dtype: int64

In [15]:
train.diagnosis.value_counts().sort_index()

0    1805
1     370
2     999
3     193
4     295
Name: diagnosis, dtype: int64

In [16]:
(train.diagnosis>0).value_counts()

True     1857
False    1805
Name: diagnosis, dtype: int64